<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Individuo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Detalle Individuo</h1>
    <tbody>
    <td><p><b>Nombre:</b><span th:text="${individuo.nombre}"></span></p><td>
    <td><p><b>Apellido:</b><span th:text="${individuo.apellido}"></span></p><td>
    <td><p><b>Edad:</b><span th:text="${individuo.edad}"></span></p><td>
    <td><p><b>Correo:</b><span th:text="${individuo.correo}"></span></p><td>
    <td><p><b>Telefono:</b><span th:text="${individuo.telefono}"></span></p></td>

    <hr>
    </tbody>
    <<a th:href="@{/}">Volver</a>

    
</body>
</html>