<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Lista de Individuos</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

  <h1>Lista de Individuos</h1>

  <div class="search-container">
    <label for="palabraClave" class="btn btn-primary">Buscar:</label>
    <form th:action="@{/}" method="get" style="display:flex; gap:10px;">
      <input type="text" name="palabraClave" id="palabraClave" th:value="${palabraClave}" placeholder="Nombre o apellido..." required>

      <button type="submit" class="btn btn-primary">Buscar</button>
      <a th:href="@{/}"><button type="button" class="btn btn-secondary">Limpiar Filtro</button></a>
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Acción</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="ind : ${lista}">
        <td th:text="${ind.nombre}"></td>
        <td th:text="${ind.apellido}"></td>
        <td th:text="${ind.edad}"></td>
        <td th:text="${ind.correo}"></td>
        <td th:text="${ind.telefono}"></td>

        <td class="acciones">
          <a th:href="@{/detalle(id=${ind.idIndividuo})}" class="btn btn-primary">Ver</a>
          <a th:if="${esAdmin}" th:href="@{/editar(id=${ind.idIndividuo})}" class="btn btn-warning">Editar</a>
          <a th:if="${esAdmin}" th:href="@{/eliminar(id=${ind.idIndividuo})}" class="btn btn-danger">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="user-info">
  <a th:href="@{/nuevo}" class="btn btn-primary">Nuevo Individuo</a>
    <p><strong>Usuario</strong> <span th:text="${usuarioActual}"></span></p>
    <p><strong>Roles</strong> <span th:text="${rolesActuales}"></span></p>
    <p><strong>¿Es Admin?</strong> <span th:text="${esAdmin}"></span></p>
  </div>
  <br><br>
  <form th:action="@{/logout}" method="post"  style="margin-top: 16px;">
    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
  </form>
</body>
</html>